<div>
    <h2 id="page-heading">
        <span jhiTranslate="passusApp.passusLog.home.title">Passus Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-passus-log" [routerLink]="['/passus-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="passusApp.passusLog.home.createLabel">
            Create new Passus Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="passusLogs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="passusApp.passusLog.time">Time</span></th>
            <th><span jhiTranslate="passusApp.passusLog.name">Name</span></th>
            <th><span jhiTranslate="passusApp.passusLog.value">Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let passusLog of passusLogs ;trackBy: trackId">
                <td><a [routerLink]="['/passus-log', passusLog.id, 'view' ]">{{passusLog.id}}</a></td>
                <td>{{passusLog.time | date:'medium'}}</td>
                <td>{{passusLog.name}}</td>
                <td>{{passusLog.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/passus-log', passusLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/passus-log', passusLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'passus-log/'+ passusLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
