<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passusLog">
            <h2><span jhiTranslate="passusApp.passusLog.detail.title">Passus Log</span> {{passusLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="passusApp.passusLog.time">Time</span></dt>
                <dd>
                    <span>{{passusLog.time}}</span>
                </dd>
                <dt><span jhiTranslate="passusApp.passusLog.name">Name</span></dt>
                <dd>
                    <span>{{passusLog.name}}</span>
                </dd>
                <dt><span jhiTranslate="passusApp.passusLog.value">Value</span></dt>
                <dd>
                    <span>{{passusLog.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/passus-log', passusLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
