<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="convertPassusLog">
            <h2><span jhiTranslate="passusApp.convertPassusLog.detail.title">Convert Passus Log</span> {{convertPassusLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="passusApp.convertPassusLog.time">Time</span></dt>
                <dd>
                    <span>{{convertPassusLog.time}}</span>
                </dd>
                <dt><span jhiTranslate="passusApp.convertPassusLog.name">Name</span></dt>
                <dd>
                    <span>{{convertPassusLog.name}}</span>
                </dd>
                <dt><span jhiTranslate="passusApp.convertPassusLog.value">Value</span></dt>
                <dd>
                    <span>{{convertPassusLog.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/convert-passus-log', convertPassusLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
