<div>
    <h2 id="page-heading">
        <span jhiTranslate="passusApp.convertPassusLog.home.title">Convert Passus Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-convert-passus-log" [routerLink]="['/convert-passus-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="passusApp.convertPassusLog.home.createLabel">
            Create new Convert Passus Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="convertPassusLogs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="passusApp.convertPassusLog.time">Time</span></th>
            <th><span jhiTranslate="passusApp.convertPassusLog.name">Name</span></th>
            <th><span jhiTranslate="passusApp.convertPassusLog.value">Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let convertPassusLog of convertPassusLogs ;trackBy: trackId">
                <td><a [routerLink]="['/convert-passus-log', convertPassusLog.id, 'view' ]">{{convertPassusLog.id}}</a></td>
                <td>{{convertPassusLog.time | date:'medium'}}</td>
                <td>{{convertPassusLog.name}}</td>
                <td>{{convertPassusLog.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/convert-passus-log', convertPassusLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/convert-passus-log', convertPassusLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'convert-passus-log/'+ convertPassusLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
